body {
    padding-top: 10px;
}

.bg-nav{
    background-color:#dcdee0;
}

.thumbnail{
    height: 150px;
    width: 150px;
    padding-right: 10px;
}

li.media{
    margin: 20px;
    padding: 20px;
    border-style: solid;
    border-width: thin;
    border-color:   rgb(226, 226, 226);
}

.img-fluid{
    max-height: 300px;
}
