body {
    padding-top: 10px;
}

.bg-nav{
    background-color:#dcdee0;
}

.img-thumbnail{
    height: 200px;
    width: 200px;
}

li.media{
    margin-bottom: 20px;
}

.img-fluid{
    max-height: 300px;
}
