{% extends "auctions/layout.html" %}

{% block body %}

        {% if listing.closed == True %}
        {% if user.is_authenticated and user.id == bid_user.id %}
        <div class="alert alert-success"><h3>You won the bid!</h3></div>
        {% else %}
        <div class="alert alert-danger"><h3>Listing closed. Buyer: {{ bid_user }}</h3></div>
        {% endif %}
        {% endif %}

        <div class="d-flex justify-content-center">
            <img src="{{listing.image_url}}" class="listing-page-img" alt="">
        </div>

        <div>
            <h2 class="title_page">{{ listing.title }}</h2>
            <p>{{ listing.description|linebreaks }}</p>

            {% if listing.starting_price > listing.current_bid %}
                <h3>${{ listing.starting_price }}</h3>
            {% else %}
                <h3>${{ listing.current_bid }}</h3>
            {% endif %}

            {% if listing.current_bid_winner %}
            <p class="small">Current bid made by {{ listing.current_bid_winner }}</p>
            {% endif %}

            
          
            <!-- Watchlist button -->
            {% if user.is_authenticated and user.id != listing.user.id and listing.closed == False %}
            <form action="{% url 'watchlist' %}" method="post">
                {% csrf_token %}
                {% if on_watchlist %}
                <input class="btn btn-primary" type="submit" value="Remove from watchlist">  
                <input type="hidden" name="add_watchlist" value="False">

                {% else %}

                <input class="btn btn-primary" type="submit" value="Add to watchlist">
                <input type="hidden" name="add_watchlist" value="True">
                {% endif %}

                <input type="hidden" name="listing_id" value="{{ listing.id }}">
            </form>
            {% endif %}

            {% if user.is_authenticated and user.id != listing.user.id and listing.closed == False %}
            <form action="{% url 'bids' %}" method="post">
                {% csrf_token %}
                <input type="number" required min="{{ listing.current_bid }}" name="price">
                <input type="hidden" name="listing_id"  value="{{ listing.id }}">
                <input class="btn btn-primary" type="submit" value="Make bid">
                
            </form>
            {% endif %}

            {% if user.is_authenticated and user.id == listing.user.id %}
            <form action="{% url 'close_listing' listing.id %}" method="post">
                {% csrf_token %}
                {% if listing.closed == False %}
                <input class="btn btn-primary" type="submit" value="Close Listing">
                {% else %}
                <input class="btn btn-primary" type="submit" value="Open Listing">
                {% endif %}
            </form>
            {% endif %}

            <p class="small">Created by {{ listing.user }} on {{ listing.date }}</p>
        </div>

        <hr>
        <h3 class="sub-title">Comments</h3>
        {% if user.is_authenticated %}
        <form action="{% url 'listing_view' listing.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ comment_form }}
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Save comment">
            </div>
        </form>
        {% else %}
            <div class="alert alert-warning">
             Log in to write a comment
            </div>
        {% endif %}
    {% for comment in comments %}
    <div class="card">
        <dl class="row card-body">
            <dt class="col-sm-2"><div>{{comment.user}}</div><small>{{comment.date}}</small></dt>
            <dd class="col-sm-10">{{comment.content|linebreaks}}</dd>
          </dl>
    </div>
    {% endfor %}
    
{% endblock %}