{% extends "auctions/layout.html" %}

{% block body %}
<form action="{% url 'new' %}" method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
        {{ error }}
        {% endfor %}
    </div>
    {% endif %}

    {% for field in form %}
    <div class="form-group">
        {{field}}
        {% if field.errors %}
        {% for error in field.errors %}
        <small class="text-danger">
            {{ error }}
        </small>
        {% endfor %}
        {% endif %}
    </div>

    {% endfor %}

    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Create Listing">
    </div>
</form>
{% endblock %}