{% if not listings %}
    <div class="alert alert-warning">
        No listings found
    </div>
{% endif %}

<div class="listing-group">

    {% for listing in listings %}

        <div class="listing-box">
            <div class="listing-img-box">
                <img src="{{listing.image_url}}" class="listing-img" alt="Listing Image">
            </div>
            <div class="media-body">
                <a href="{% url 'listing_view' listing.id %}">
                    <h6 class="mt-0 mb-1">{{ listing.title }}</h6>
                </a>
              <h5><span class="badge badge-secondary">Price: ${{ listing.starting_bid }}</span></h5>
              <p class="small">Added by {{ listing.user }} on {{ listing.date|date:"M d, Y" }}</p>
            </div>
        </div>
        
    {% endfor %}

</div>
